@model IEnumerable<CRUD.Models.EmployeeInfo>
@{
    ViewData["Title"] = "View";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Gender)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Company)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Department)
            </td>
            <td></td>  
        </tr>
    </thead>

    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => emp.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emp.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emp.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emp.Department)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@emp.ID">Edit</a>
                    <a asp-action="Details" asp-route-id="@emp.ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@emp.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
